### Data Source from Yahoo_Finance

In [94]:
import yahoo_fin as yf
import numpy as np
import pandas as pd

In [97]:
class data:
    def __init__(self):
        self.si = yf.stock_info
    def get_Dailydata(self, _ticker, _startdate):
        basic_data = self.si.get_data(_ticker, start_date = _startdate)
        data = {
            'open': round(basic_data['open'],2),
            'high': round(basic_data['high'],2),
            'low': round(basic_data['low'],2),
            'close': round(basic_data['close'],2),
            'volume': round(basic_data['volume'],2)
        }
        df = pd.DataFrame(data)
        df = df.reset_index()
        df = df.rename(columns={'index': 'date'})
        return df

In [98]:
# data source test
a = data()
a.get_Dailydata("TSLA", '01/01/2015')

           date    open    high     low   close    volume
0    2015-01-02   44.57   44.65   42.65   43.86  23822000
1    2015-01-05   42.91   43.30   41.43   42.02  26842500
2    2015-01-06   42.01   42.84   40.84   42.26  31309500
3    2015-01-07   42.67   42.96   41.96   42.19  14842000
4    2015-01-08   42.56   42.76   42.00   42.12  17212500
...         ...     ...     ...     ...     ...       ...
1554 2021-03-08  600.55  620.13  558.79  563.00  51497000
1555 2021-03-09  608.18  678.09  595.21  673.58  67028000
1556 2021-03-10  700.30  717.85  655.06  668.06  60486700
1557 2021-03-11  699.40  702.50  677.18  699.60  36106300
1558 2021-03-12  670.00  694.85  666.14  693.73  33059283

[1559 rows x 6 columns]

### back test frame
1. buy_sell robot 2. wallet 3. back test robot

In [140]:
class trade_Robot:
    
    # Only to execute buy or sell action, return remain capital, current holding position
    # currentPosition 现有的持仓股数
    # 预期购买的量由策略决定
   
    
    def __init__(self, _currentPrice, _currentCapital, _currentPosition):
        self.currentCapital = _currentCapital
        self.currentPosition = _currentPosition
        self.currentPrice = _currentPrice
        
    def buy(self, volume):
        if volume % 100 != 0:
            print('volume must be the multiple of 100')
            return 'Trade failed'
        if self.capital_Check('buy', volume):
            self.currentCapital = self.currentCapital - volume*self.currentPrice
            self.currentPosition = self.currentPosition + volume
            return self.currentCapital, self.currentPosition, 'Buy'
        else:
            print('Trade failed')
            return self.no_Action()
        
    def sell(self, volume):
        if volume % 100 != 0:
            print('volume must be the multiple of 100')
            return 'Trade failed'
        if self.capital_Check('sell', volume):
            self.currentCapital = self.currentCapital + volume*self.currentPrice
            self.currentPosition = self.currentPosition - volume
            return self.currentCapital, self.currentPosition, 'Sell'
        else:
            print('Trade failed')
            return self.no_Action()
        
    def no_Action(self):
        return self.currentCapital, self.currentPosition, 'No Action'
    
    def capital_Check(self, action, volume):
        if action == 'buy':
            if self.currentCapital >= volume*self.currentPrice:
                return True
            else:
                print('Insufficient current capital')
                return False
        if action == 'sell':
            if self.currentPosition >= volume:
                return True
            else:
                print('Insufficient holding position')
                return False

In [146]:
t = trade_Robot(10, 10000, 400)

In [147]:
a = t.sell(400)
a

(14000, 0, 'Sell')

In [132]:
class wallet:
    def __init__(self, _initialCapital):
    
        return
    
    def initialization():
        return
    def update_Wallet():
        return
    def trade_